@import url("global.css");
main section {
    padding: 10px;
}

main div.photo {
    text-align: center;
    margin: 10px 0px;
}

main div.photo img {
    max-width: 100%;
    max-height: 30vh;
}

main div.photo div.collage-photo {
    text-align: left;
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main div.photo div.collage-photo img {
    max-width: 20%;
    max-height: 10vh;
    margin: 0px 5px;
    border-radius: 5px;
}

main div.photo div.collage-photo img.enable {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main div.photo div.collage-photo img.Disabled {
    box-shadow: 0px 0px 0px rgb(100, 100, 100);
}

div.photo div.link-photo {
    text-align: center;
}

div.photo div.link-photo h5 {
    display: inline;
}

main section.information {
    margin: 10 5px;
}

main section.information div.information-header {
    margin-bottom: 15px;
}

section.information div.information-main {
    margin-left: 5px;
}

section.information div.information-main form.infor-product div {
    margin-bottom: 10px;
}

section.information div.information-main form.infor-product div>label {
    display: block;
}

section.information div.information-main form.infor-product div input,
section.information div.information-main form.infor-product div textarea,
section.information div.information-main form.infor-product div select {
    margin: 5px;
    border: none;
    border-bottom: solid var(--Clean) 1px;
    padding: 5px;
    width: 100%;
}

form.infor-product div textarea {
    height: 50px;
}

div.information-main form.infor-product div div.characteristics-header {
    margin-top: 20px;
}

div.information-main form.infor-product div div.characteristics-main {
    margin-left: 5px;
    margin-bottom: 20px;
}

div.information-main form.infor-product div div.characteristics-main div.characteristics-section {
    border: var(--Clean) 1px solid;
    padding: 20px;
    border-radius: 10px;
}

div.characteristics-main-context-down {
    margin-left: 5px;
}

div.information-main form.infor-product div div.characteristics-main div.characteristics-main-context div.characteristics-main-context-top,
div.characteristics-header {
    display: flex;
    justify-content: space-between;
}

section.information div.infor-product-section div.payment-methods {
    display: flex;
    flex-wrap: wrap;
}

section.information div.infor-product-section div.payment-methods div.payment-method {
    display: flex;
    align-items: center;
    margin: 5px;
}

section.information div.infor-product-section div.payment-methods div.payment-method input {
    width: max-content;
}

section.information div.infor-product-section div.payment-methods div.payment-method label {
    display: inline;
}

section.information div.infor-product-section div.payment-methods div.payment-method label img {
    width: 50px;
    border-radius: 5px;
}

section.information form div.btn-save-reset {
    text-align: end;
}

section.information form div.btn-save-reset button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin: 0px 5px;
    color: #E8E8E8;
    font-weight: 700;
}

section.information form div.btn-save-reset button[type="submit"] {
    background-color: var(--Light-purple);
}

section.information form div.btn-save-reset button[type="reset"],
section.information form div.btn-save-reset button[type="button"] {
    background-color: var(--Red);
}

.div-avatar {
    text-align: right;
    margin-right: 10%;
}

.showError {
    color: red;
}

.label-avatar {
    display: inline !important;
    padding: 5px !important;
    border-radius: 5px !important;
    border: 1px solid #333A56 !important;
    background-color: #333A56 !important;
    color: #E8E8E8 !important;
    cursor: pointer !important;
}

input.btn-changer {
    display: none !important;
}

span.text-error{
    color: var(--Red);
    font-size: 14px;
}

@media (min-width: 481px) {}

@media (min-width: 769px) {}