:root {
    --Fresh: #F7F5E6;
    --Vermillion: #333A56;
    --Sunshine: #52658F;
    --Clean: #E8E8E8;
    --White: #ffff;
    --Dark-grey: #666;
    --Green: #39b54a;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #333A56
}

header {}

main {
    margin: 20px auto;
    width: 90%;
    background-color: var(--White);
    padding: 15px;
    border-radius: 5px;
}

footer {}