@import url("global.css");
header {
    height: 40vh;
}

div.registro-logo img {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}

main {
    position: relative;
}

.main-input{
    font-weight: bold;
    margin-top: 8px;
}

span.text-error{
    color: var(--Red);
    font-size: 14px;
}

.login h2 {
    margin-top: 10px;
}

main.login {
    margin: 20px auto;
    width: 90%;
    background-color: var(--Vermillion);
    padding: 15px;
    border-radius: 5px;
}

div.mainlogin {
    padding: 27px;
}

.login form {
    padding: 10px;
    display: block;
    text-align: center;
    background-color: #E8E8E8;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    position: absolute;
    top: -20vh;
    right: 9vw;
}

.login input {
    display: block;
    padding: 0px;
    width: 70%;
    height: 25px;
    margin: auto;
    margin-top: 10px;
    padding-top: 5px;
    background-color: white;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
}

.form-check-label{
    width: 20px;
}

.login .button-submit {
    text-align: center;
    margin-top: 15px;
}

.login .button-submit button {
    width: 45%;
    padding: 5px;
    background-color: #333A56;
    color: #E8E8E8;
    font-weight: 700;
    border-radius: 10px;
    border: none;
}

.login .text-end {
    font-size: 12px;
    margin-top: 10px;
}

.recordar{
    justify-content: space-between;
}
footer{
    margin-top: 70%;
}
p{
    font-size: 16px;
}

div.error {
	color: var(--Red);
    font-size: 14px;
	
}

div.error ul{
    list-style-type: none
}
@media(min-width:481px) {
    footer{
        margin-top: 40%;
    }
}

@media(min-width:769px) {
    .login form {
        width: 50%;
        top: -16vh;
        right: 22.5vw;
    }
    footer{
        margin-top: 30%;
    }
}