@import url("global.css");
header {
    height: 40vh;
}

div.registro-logo img {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}

main {
    position: relative;
}

.login h2 {
    margin-top: 10px;
}

main.login {
    margin: 20px auto;
    width: 90%;
    background-color: var(--Vermillion);
    padding: 15px;
    border-radius: 5px;
}

div.mainlogin {
    padding: 27px;
}

.login form {
    padding: 10px;
    display: block;
    text-align: center;
    background-color: #E8E8E8;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    position: absolute;
    top: -20vh;
    right: 9vw;
}

.login input {
    display: block;
    padding: 0px;
    width: 75%;
    height: 25px;
    margin: auto;
    margin-top: 10px;
    padding-top: 5px;
    background-color: white;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
}

.login .button-submit {
    text-align: center;
}

.login .button-submit button {
    width: 45%;
    padding: 5px;
    background-color: #333A56;
    color: #E8E8E8;
    font-weight: 700;
    border-radius: 10px;
    border: none;
}

.login .text-end {
    font-size: 12px;
    margin-top: 10px;
}

@media(min-width:481px) {}

@media(min-width:769px) {
    .login form {
        width: 50%;
        top: -16vh;
        right: 22.5vw;
    }
}