:root{
    --fresh: #F7F5E6;
    --vermillion: #333A56;
    --sunshine: #52658F;
    --clean: #e8e8e8;
    --white: #ffff;
    --dark-gray: #666;
    --green: #39b54a;
    --feather:#77c9d4;
    --marine:#57bc90;
    --forest:#015249;
    --sleek-grey:#a5a5af;
}
body{
    font-family:  Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size:16px;
    background-color: var(--vermillion);
}
.registro h1{
    margin-top:0px;
}
a{
    text-decoration: none;
    color:#2968f1
}
div.registro-logo img{
    display:flex;
    justify-content:space-evenly;
    width:70%;
    margin:auto;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom:1px;
    
}
.registro form{

    display:block;
    text-align:center;
    background-color: var(--clean);
    width:70%;
    margin:0px auto;
    border-radius: 10px;
}
.registro form label, input{
   
    display:block;
    padding:0px;
    width:60%;
    margin:auto;
    margin-top:10px;
    padding-top:5px;
    background-color: var(--clean);
    text-align:center;
    border: 1px solid gray;
    border-radius:10px;

}

.registro form label{
    border: 1px solid var(--clean);
}

.registro form .crear-cuenta{
    display: block;
    margin:auto;
    width:45%;
    padding: 8px;
    margin-top: 10px;
    background-color:var(--vermillion);
    color: var(--clean);
    font-weight: 700;
    text-align: center;

}

.goto-login{
    display:block;
    padding:2px 18px;
    width:60%;
    margin:auto;
    margin-top:0px;
    background-color: var(--clean);
    text-align:center;
}
@media(min-width:481px) {
    
}  
@media(min-width:769px) {
    div.registro-logo img{
        width:563px;}
    .registro form{
        width:50%}
    .registro form input{
            padding-top: 10px;}
   
}