<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>

    </header>
    <main>
        <section class="photo">
            <img src="./image/logo-tech-house.png" alt="" srcset="">
            <div class="link-photo">
                <i class="fa-solid fa-camera"></i>
                <h5>Ingrese una Imagen</h5>
            </div>
        </section>
        <section class="information">
            <div class="information-header">
                <h2>INFORMACIÓN DEL PRODUCTO</h2>
            </div>
            <div class="information-main">
                <form action="" class="infor-product">
                    <div class="infor-product-section">
                        <label for="name">Nombre:</label>
                        <input type="text" name="name" id="name" placeholder="Nombre">
                    </div>
                    <div class="infor-product-section">
                        <label for="specifications">Especificaciones:</label>
                        <input type="text" name="specifications" id="specifications" placeholder="Expecificaciones">
                    </div>
                    <div class="infor-product-section">
                        <label for="characteristics">Caracteristicas:</label>
                        <input type="text" name="characteristics" id="characteristics" placeholder="Caracteristicas">
                    </div>
                    <div class="infor-product-section">
                        <label for="warranty">Garantia:</label>
                        <input type="text" name="warranty" id="warranty" placeholder="Garantia">
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>