<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>

    </header>
    <main>
        <section class="photo">
            <img src="./image/logo-tech-house.png" alt="" srcset="">
            <div class="link-photo">
                <i class="fa-solid fa-camera"></i>
                <h5>Ingrese una Imagen</h5>
            </div>
        </section>
        <section class="information">
            <div class="information-header">
                <h2>INFORMACIÓN DEL PRODUCTO</h2>
            </div>
            <div class="information-main">
                <form action="" class="infor-product">
                    <div class="infor-product-section">
                        <label for="name">Nombre:</label>
                        <input type="text" name="name" id="name" placeholder="Nombre">
                    </div>
                    <div class="infor-product-section">
                        <label for="specifications">Especificaciones:</label>
                        <input type="text" name="specifications" id="specifications" placeholder="Expecificaciones">
                    </div>
                    <div class="infor-product-section">
                        <div class="characteristics-header">
                            <h3>Caractersiticas:</h3>
                        </div>
                        <div class="characteristics-main">
                            <div class="characteristics-main-title">
                                <div class="characteristics-main-title-top">
                                    <label for="characteristics-title">Titulo de la Caracteristicas:</label>
                                    <i class="fa-solid fa-circle-plus"></i>
                                </div>
                                <div class="characteristics-main-title-down">
                                    <input type="text" name="characteristics-title" id="characteristics-title" placeholder="Titulo">
                                </div>
                            </div>
                            <div class="characteristics-main-context">
                                <div class="characteristics-main-context-top">
                                    <label for="characteristics-context">Cuerpo de la Caracteristicas:</label>
                                    <i class="fa-solid fa-circle-plus"></i>
                                </div>
                                <div class="characteristics-main-context-down">
                                    <input type="text" name="characteristics-context" id="characteristics-context" placeholder="Caracteritica">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="infor-product-section">
                        <label for="warranty">Garantia:</label>
                        <input type="text" name="warranty" id="warranty" placeholder="Garantia">
                    </div>
                    <div class="infor-product-section">
                        <label for="warranty">Medios de Pago:</label>
                        <input type="text" name="warranty" id="warranty" placeholder="Garantia">
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>