<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech-House</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/Site/public/css/style.css">
</head>

<body>
    <header>
        <div>
            <img src="image/logo-tech-house.png" alt="logo-tech-House">
        </div>

        <div class="form" action="#" method="GET">
            <div class="input">Buscar</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <nav>
            <ul>
                <li><a href="#">Linea de atencion</a></li>
                <li><a href="#">Deseos</a></li>
                <li><a href="/productCart">Carrito</a></li>
                <li><a href="#">Ingresar</a></li>
            </ul>
            <ul>
                <li><a href="#">Quienes somos</a></li>
                <li><a href="#">Nuestras tiendas</a></li>
                <li><a href="#">Zona gamer</a></li>
                <li><a href="#">Medios de pago</a></li>
            </ul>
        </nav>
    </header>
    <section class="banner">
        <img src="image/banner.jpg" alt="Banner">
    </section>
    <main>
        <section class="Nuevos-productos">
            <h3>Nuevos productos</h3>
            <div class="productos">
                <article>
                    <img src="image/celular xiaomi nuevo.jpg" alt="celular xiaomi" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$912.00</p>
                        <h4 class="descripcion">Celular Xiaomi Redmi Note 10</h4>
                    </div>
                </article>
                <article>
                    <img src="image/impresora nuevo.jpg" alt="impresora" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$2.452.000</p>
                        <h4 class="descripcion">Impresora Multifuncional Ricoh SP3710SF</h4>
                    </div>
                </article>
                <article>
                    <img src="image/pc nuevo.jpg" alt="pc nuevo" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$3.888.000</p>
                        <h4 class="descripcion">PC Dell Vostro 3681 Core I5 8 GB 1 TB Led 20 pulgadas</h4>
                    </div>
                </article>
                <article>
                    <img src="image/router nuevo.jpg" alt="router" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$431.000</p>
                        <h4 class="description">Router Dlink 300MBPS 4 Antenas</h4>
                    </div>
                </article>
            </div>
        </section>
        <section class="Ofertas">
            <h3>Productos en Oferta</h3>
            <div class="productos">
                <article>
                    <img src="image/portatil oferta.jpg" alt="portatil" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$1.720.000</p>
                        <h4 class="descripcion">Portatil AMD Ryzen 3</h4>
                    </div>
                </article>
                <article>
                    <img src="image/pc ryzen oferta.jpg" alt="Clon ryzen" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$2.335.000</p>
                        <h4 class="description">Torre clon ryzen 5</h4>
                    </div>
                </article>
                <article>
                    <img src="image/mecanico oferta.jpg" alt="mecanico" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$235.000</p>
                        <h4 class="descripcion">Teclado mecanico MIntaka</h4>
                    </div>
                </article>
                <article>
                    <img src="image/antivirus oferta.jpg" alt="Licencia" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$90.000</p>
                        <h4 class="description">Licencia antivirus kasperky</h4>
                    </div>
                </article>
                <section class="banner">
                    <img src="image/imagen de banner marcas.jpeg" alt="Banner de marcas">
                </section>
    </main>
    <footer></footer>
</body>

</html>