<!DOCTYPE html>
<html lang="en">

<<<<<<< HEAD
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech-House</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fontawesome.com/icons?d=gallery&m=free">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/listaproductos.css">
</head>
=======
    <%- include('./partials/head', {title:"Lista Productos", namePage:"listaproductos"}) %>
>>>>>>> 6e86f49a4f7081c637c643d49fbe47829d7bb040

<body>
    
    <%- include('./partials/header') %>
    
    <main>
        <section>
            <div class="productos">
                <article>
                    <img src="image/celular xiaomi nuevo.jpg" alt="celular xiaomi" class="product_img">
                    <div class="main-article">
                        <h4 class="descripcion">Xiaomi Redmi Note 10 Pro (Global) Dual SIM 128 GB Gris 6 GB RAM</h4>
                        <p class="precio">$912.00</p>
                        <p class="envio">Envio gratis</p>
                    </div>
                </article>

                <article>
                    <img src="image/impresora nuevo.jpg" alt="impresora" class="product_img">
                    <div class="main-article">
                        <h4 class="descripcion">Impresora Laser Multifuncional Ricoh SP3710SF + Tonner</h4>
                        <p class="precio">$2.452.000</p>
                        <p class="envio">Envio gratis</p>
                    </div>
                </article>

                <article>
                    <img src="image/pc nuevo.jpg" alt="pc nuevo" class="product_img">
                    <div class="main-article">
                        <h4 class="descripcion">PC Dell Vostro 3681 Core I5 8 GB 1 TB Led 20 pulgadas</h4>
                        <p class="precio">$3.888.000</p>
                        <p class="envio">Envio gratis</p>         
                    </div>
                </article>

                <article>
                    <img src="image/router nuevo.jpg" alt="router" class="product_img">
                    <div class="main-article">
                        <h4 class="descripcion">Router Dlink 300MBPS 4 Antenas</h4>
                        <p class="precio">$431.000</p>
                        <p class="envio">Envio gratis</p>
                    </div>
                </article>
            </div>
        </section>

        <section>
            <div class="productos">
                <article>
                    <img src="image/portatil oferta.jpg" alt="portatil" class="product_img">
                    <div class="main-article">
                        <h4 class="descripcion">Portatil AMD Ryzen 3 8Gb RAM 256Gb SSD 15.6 Pulgadas</h4>
                        <p class="precio">$1.720.000</p>
                        <p class="envio">Envio gratis</p>
                    </div>
                </article>

                <article>
                    <img src="image/pc ryzen oferta.jpg" alt="Clon ryzen" class="product_img">
                    <div class="main-article">
                        <h4 class="descripcion">Torre clon ryzen 5 4Gb RAM 256Gb SSD</h4>
                        <p class="precio">$2.335.000</p>
                        <p class="envio">Envio gratis</p>
                    </div>
                </article>

                <article>
                    <img src="image/mecanico oferta.jpg" alt="mecanico" class="product_img">
                    <div class="main-article">
                        <h4 class="descripcion">Teclado mecanico VSG Mintaka Negro</h4>
                        <p class="precio">$235.000</p>
                        <p class="envio">Envio gratis</p>
                    </div>
                </article>

                <article>
                    <img src="image/antivirus oferta.jpg" alt="Licencia" class="product_img">
                    <div class="main-article">
                        <h4 class="descripcion">Licencia antivirus kasperky 6 Meses (2 Dispositivos)</h4>
                        <p class="precio">$90.000</p>
                        <p class="envio">Envio gratis</p>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>
<script src="https://kit.fontawesome.com/f3d4785aed.js" crossorigin="anonymous"></script>

</html>