<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <script src="https://kit.fontawesome.com/f108e44f29.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="./image/logo-tech-house.png" alt="" srcset="">
            </div>
            <div class="shopping-love-user-carts">
                <div class="shopping-cart">
                    <a href="/productCart"><i class="fas fa-shopping-basket"> </i></a>
                </div>
                <div class="love-cart">
                    <a href=""><i class="fa-solid fa-heart"></i></a>
                </div>
                <div class="user-cart">
                    <a href="/login"><i class="fa-solid fa-user"></i></a>
                </div>
            </div>
            <div class="burger-menu">
                <div>
                    <i class="fa fa-bars burger"></i>
                </div>
            </div>
            <form action="#">
                <input type="search" placeholder="Buscar productos, marcas y más">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <nav>
            <ul>
                <li><a href="/">Inicio</a> </li>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas</a></li>
                <li><a href="">Quienes Somos</a></li>
            </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-wrapper">
            <div class="left-section-cart">
                <section>
                    <h1>Carrito De Compras</i>
                    </h1>

                    <section>
                        <article class="product-info">
                            <div class="product-info-container">
                                <img src="/image/predator.png" width="100%" alt="Portatil Predator">
                                <div class="product-description-section">
                                    <h3>Portartil Acer Predator Triton 300 15"</h3>
                                    <p class="product-avaliable">Disponible</p>
                                    <p class="product-description">Equipada con un procesador1 Intel® Core™ i7 de hasta 11.a generación, una tarjeta gráfica1 NVIDIA® GeForce RTX™ serie 30 y nuestra tecnología personalizada AeroBlade™ 3D de 5.a generación, esta computadora está lista
                                        para jugar, donde sea.</p>
                                    <p class="product-price">$3.700.000</p>
                                    <div class="product-delivery-info">
                                        <p class="product-delivery"><i class="fas fa-truck"></i> Llega entre xxxxxx</p>
                                        <p class="product-delivery"><i class="fa-solid fa-arrow-rotate-left"></i> Devolucion Gratis</p>
                                    </div>
                                </div>
                                <div class="product-quantity">
                                    <button type="button">-</button>
                                    <input type="text" value="1">
                                    <button type="button">+</button>
                                </div>
                            </div>
                            <div class="product-options">
                                <a href="#" class="product-delete-button">Eliminar</a>
                                <a href="#">Productos similares</a>
                                <a href="#">Guardar para después</a>
                            </div>
                        </article>
                        <article class="product-info">
                            <div class="product-info-container">
                                <img src="/image/diadema.png" width="100%" alt="Diadema Inalámbrica">
                                <div class="product-description-section">
                                    <h3>Diadema Astro A10"</h3>
                                    <p class="product-avaliable">Disponible</p>
                                    <p class="product-description">Lleva tu experiencia de juego en PC a una dimensión completamente nueva. Diseñados para jugadores, los Audífonos A10 presentan un diseño duradero y mayor confort para combatir la fatiga para que puedas jugar más sin
                                        descanso.
                                    </p>
                                    <p class="product-price">$500.000</p>
                                    <div class="product-delivery-info">
                                        <p class="product-delivery"><i class="fas fa-truck"></i> Llega entre xxxxxx</p>
                                        <p class="product-delivery"><i class="fa-solid fa-arrow-rotate-left"></i> Devolucion Gratis</p>
                                    </div>
                                </div>
                                <div class="product-quantity">
                                    <button type="button">-</button>
                                    <input type="text" value="1">
                                    <button type="button">+</button>
                                </div>
                            </div>
                            <div class="product-options">
                                <a href="#" class="product-delete-button">Eliminar</a>
                                <a href="#">Productos similares</a>
                                <a href="#">Guardar para después</a>
                            </div>
                        </article>
                        <article class="product-info">
                            <div class="product-info-container">
                                <img src="/image/mouse.png" width="100%" alt="Mouse Inlámbrico">
                                <div class="product-description-section">
                                    <h3>Mouse Inalámbrico Recargable</h3>
                                    <p class="product-avaliable">Disponible</p>
                                    <p class="product-description">Diseño elegante y batería recargable son las caracteristicas principales que nos ofrece este Mouse inalámbrico. Ya no tendras que comprar más baterías, con el cable mini USB puedes recargar la batería del mouse. </p>
                                    <p class="product-price">$170.000</p>
                                    <div class="product-delivery-info">
                                        <p class="product-delivery"><i class="fas fa-truck"></i> Llega entre xxxxxx</p>
                                        <p class="product-delivery"><i class="fa-solid fa-arrow-rotate-left"></i> Devolucion Gratis</p>
                                    </div>
                                </div>
                                <div class="product-quantity">
                                    <button type="button">-</button>
                                    <input type="text" value="1">
                                    <button type="button">+</button>
                                </div>
                            </div>
                            <div class="product-options">
                                <a href="#" class="product-delete-button">Eliminar</a>
                                <a href="#">Productos similares</a>
                                <a href="#">Guardar para después</a>
                            </div>
                        </article>
                    </section>
            </div>

            <div class="right-section-cart">
                <div class="order-summary">
                    <h3>Total Pedido</h3>
                    <div class="order-summary-details">
                        <hr>
                        <span>Cantidad de Productos <strong>3</strong></span>
                        <hr>
                        <span>Subtotal <strong>$4.370.000</strong></span>
                        <hr>
                        <span>Envío <strong>$50.000</strong></span>
                        <hr>
                        <span>Total <strong>$4.420.000</strong></span>
                    </div>
                </div>
                <div class="pay-button">
                    <button type="button">Pagar</button>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>