<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header>

    </header>

    <main>
        <section class="product">
            <div class="product-header">
                <h5># vendidos</h5>
                <h2>Nombre del producto</h2>
            </div>
            <div class="product-main">
                <div class="product-images">
                    <h6>1/4</h6>
                    <div class="product-collage">
                        <i class="fa-solid fa-chevron-left left-arrow"></i>
                        <img src="./image/logo-tech-house.png" alt="">
                        <i class="fa-solid fa-chevron-right right-arrow"></i>
                    </div>
                </div>
                <div class="product-specification">
                    <div class="product-price-discount">
                        <strong class="product-price">$23.200</strong>
                        <strong class="product-discount">5% OFF</strong>
                    </div>
                    <div class="product-delivery">
                        <p> <i class="fas fa-truck"></i>llega entre xxxxxx</p>
                    </div>
                    <div class="product-return">
                        <p> <i class="fa-solid fa-arrow-rotate-left"></i>Devolucion Gratis</p>
                    </div>
                    <div class="product-quantity">
                        <div class="product-quantity-header">
                            <h3>Stock disponible</h3>
                        </div>
                        <form action="">
                            <div class="container-product-quantity">
                                <label for="quantity">Cantidad:</label>
                                <input type="number" name="product-quantity" id="quantity" value="1">
                                <p>(20) disponibles</p>
                                <label for="quantity" class="quantity"><i class="fa-solid fa-chevron-right"></i></label>
                            </div>
                            <div class="btn-boy-add">
                                <button class="btn-buy">Comprar ahora</button>
                                <button class="btn-add">Agregar al carrito</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="characteristics">
            <div class="characteristics-header">
                <h2>Características del producto</h2>
            </div>
            <div class="characteristics-main">
                <article class="characteristic">
                    <div class="characteristic-header">
                        <h3>Características generales</h3>
                    </div>
                    <div class="characteristic-main">
                        <table>
                            <tr>
                                <th>Marca:</th>
                                <td>xxxxx</td>
                            </tr>
                            <tr>
                                <th>Línea:</th>
                                <td>xxxxx</td>
                            </tr>
                            <tr>
                                <th>Modelo:</th>
                                <td>xxxxx</td>
                            </tr>
                        </table>
                    </div>
                </article>
                <article class="characteristic">
                    <div class="characteristic-header">
                        <h3>Especificaciones</h3>
                    </div>
                    <div class="characteristic-main">
                        <table>
                            <tr>
                                <th>Marca:</th>
                                <td>xxxxx</td>
                            </tr>
                            <tr>
                                <th>Línea:</th>
                                <td>xxxxx</td>
                            </tr>
                            <tr>
                                <th>Modelo:</th>
                                <td>xxxxx</td>
                            </tr>
                        </table>
                    </div>
                </article>

                <article class="characteristic">
                    <div class="characteristic-header">
                        <h3>otros</h3>
                    </div>
                    <div class="characteristic-main">
                        <table>
                            <tr>
                                <th>Marca:</th>
                                <td>xxxxx</td>
                            </tr>
                            <tr>
                                <th>Línea:</th>
                                <td>xxxxx</td>
                            </tr>
                            <tr>
                                <th>Modelo:</th>
                                <td>xxxxx</td>
                            </tr>
                        </table>
                    </div>
                </article>

            </div>
        </section>
        <section class="warranty">
            <div class="warranty-header">
                <h3>Garantia</h3>
            </div>
            <div class="warranty-main">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem maiores non ad minus. Odio voluptate dignissimos exercitationem voluptatem amet assumenda, quae cupiditate excepturi. Saepe eius qui molestias? Dicta, nostrum!</p>
            </div>
        </section>
        <section class="payment-methods">
            <div class="payment-methods-header">
                <h3>Medios de pago</h3>
            </div>
            <div class="payment-methods-main">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem maiores non ad minus. Odio voluptate dignissimos exercitationem voluptatem amet assumenda, quae cupiditate excepturi. Saepe eius qui molestias? Dicta, nostrum!</p>
            </div>
        </section>
        <section class="specifications">
            <div class="specifications-header">
                <h3>Especificaciones</h3>
            </div>
            <div class="specifications-main">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem maiores non ad minus. Odio voluptate dignissimos exercitationem voluptatem amet assumenda, quae cupiditate excepturi. Saepe eius qui molestias? Dicta, nostrum!</p>
            </div>
        </section>
        <section class="questions-answers">
            <div class="questions-answers-header">
                <h3>Preguntas y respuestas</h3>
            </div>
            <div class="questions-answers-main">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem maiores non ad minus. Odio voluptate dignissimos exercitationem voluptatem amet assumenda, quae cupiditate excepturi. Saepe eius qui molestias? Dicta, nostrum!</p>
            </div>
        </section>
        <section class="product-similar">
            <div class="product-similar-header">
                <h3>Producto similares</h3>
            </div>
            <div class="product-similar-main">
                <p>Lorem ipsum dolt consectetur adipisicing elit. Dicta autem maiores non ad minus. Odio voluptate dignissimos exercitationem voluptatem amet assumenda, quae cupiditate excepturi. Saepe eius qui molestias? Dicta, nostrum!</p>
            </div>
        </section>

    </main>

    <footer>

    </footer>
</body>
<script src="https://kit.fontawesome.com/f108e44f29.js" crossorigin="anonymous"></script>

</html>