<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
</head>
<body>
    <main>
        <div>
            <div>
                <section>
                    <h1>Carrito De Compras</h1>
                </section>
                <section>
                    <article>
                        <img src="/image/predator.png" alt="Portatil Predator">
                        <h3>Portartil Acer Predator Triton 300 15"</h3>
                        <p>Equipada con un procesador1 Intel® Core™ i7 de hasta 11.a generación, una tarjeta gráfica1 NVIDIA® GeForce RTX™ serie 30 y nuestra tecnología personalizada AeroBlade™ 3D de 5.a generación, esta computadora está lista para jugar, donde sea.</p>
                        <p>$3.700.000</p>
                        <a href="#">Eliminar</a>
                        <a href="#">Productos similares</a>
                        <a href="#">Guardar para después</a>
                        <div>
                            <button type="button">-</button>
                            <input type="text">
                            <button type="button">+</button>
                        </div>
                    </article>
                    <article>
                        <img src="/image/diadema.png" alt="Diadema Inalámbrica">
                        <h3>Diadema Astro A10"</h3>
                        <p>Lleva tu experiencia de juego en PC a una dimensión completamente nueva. Diseñados para jugadores, los Audífonos A10 presentan un diseño duradero y mayor confort para combatir la fatiga para que puedas jugar más sin descanso.</p>
                        <p>$500.000</p>
                        <a href="#">Eliminar</a>
                        <a href="#">Productos similares</a>
                        <a href="#">Guardar para después</a>
                        <div>
                            <button type="button">-</button>
                            <input type="text">
                            <button type="button">+</button>
                        </div>
                    </article>
                    <article>
                        <img src="/image/mouse.png" alt="Mouse Inlámbrico">
                        <h3>Mouse Inalámbrico Recargable</h3>
                        <p>Diseño elegante y batería recargable son las caracteristicas principales que nos ofrece este Mouse inalámbrico. Ya no tendras que comprar más baterías, con el cable mini USB puedes recargar la batería del mouse. </p>
                        <p>$170.000</p>
                        <a href="#">Eliminar</a>
                        <a href="#">Productos similares</a>
                        <a href="#">Guardar para después</a>
                        <div>
                            <button type="button">-</button>
                            <input type="text">
                            <button type="button">+</button>
                        </div>
                    </article>
                </section>
            </div>
            <div>
                <h3>Total Pedido</h3>
                <span>Cantidad de Productos <strong>3</strong></span>
                <span>Subtotal <strong>$4.370.000</strong></span>
                <span>Envío <strong>$50.000</strong></span>
                <span>Total <strong>$4.420.000</strong></span>
                <button type="button">Pagar</button>
            </div>
        </div>
    </main>
</body>
</html>