<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Registro</title>
</head>
<body>
    <header></header>
    <div class="registro-logo">
        <img src="image/logo-tech-house.png">

    </div>
    <main class="registro">
        <form action="/" method="POST">
        <h1>Crear cuenta </h1>
        <label for="registro-nombre">Tu nombre</label>
        <input class="registro-nombre" type="text" id="" name=""/>

        <label for="registro-apellido">Tu apellido</label>
        <input class="registro-apellido" type="text" id="" name=""/>

        <label for="">Correo electrónico </label>
        <input class="registro-email" type="email" id="" name=""/>

        <label for="registro-contraseña">Contraseña</label>
        <input class="registro-contraseña" type="text" placeholder="como minimo 6 caracteres" id="registro-contraseña" name="registro-contraseña" minlength="6" />
        
        
        <input class="crear-cuenta" type="submit" value="Crear cuenta">
        <div class="goto-login">
            <p>¿Ya tienes una cuenta? <a href="#">Inicia sesión</a></p>
        </form>
        </main>
    
        
            
    </div>

</body>
</html>
