<footer>
    <div class="footer">
        <div class="credito">
            <div class="icon">
                <i class="fas fa-credit-card"></i>
            </div>
            <ul><strong>Aceptamos todos</strong></ul>
            <p>Los medios de pago</p>
        </div>
    

     <div class="envio">
        <div class="icon">
            <i class="fa fa-shipping-fast"></i>
        </div>
        <ul><strong>Envío a toda</strong></ul>
        <p>Colombia</p>
     </div>
     <div class="contactos">
        <div class="icon">
            <i class="fa fa-envelope"></i>
        </div>
        <ul><strong>Contáctanos</strong></ul>
        <p>WhatsApp | Email</p>
     </div>

     <div class="tecnico">
        <div class="icon">
            <i class="fa fa-user-check"></i>
        </div>
        <ul><strong>Servicio Técnico</strong></ul>
        <p>Atencíon especializada</p>
     </div>
    </div>

    <div class="copi">
        <ul>
            <p>Copyright © 2022 Tech-House</p>
        </ul>
    </div>
    <script src="https://kit.fontawesome.com/f3d4785aed.js" crossorigin="anonymous"></script>
</footer>