<header>
    <div class="top-header">
        <div class="logo">
            <a href="/"><img src="/images/logo-tech-house.png" alt="" srcset=""></a>
        </div>
        <div class="shopping-love-user-carts">
            <div class="shopping-cart">
                <a href="../products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="love-cart">
                <a href="/users/preferences"><i class="fa-solid fa-heart"></i></a>
            </div>
            <% if(locals.usuario) { %>
                <div class="user-cart">
                    <a class="nav-link" href="/users/profile">
                        <i class="far fa-user-circle"></i>
                        <%-locals.usuario.name  %> <i class="fas fa-angle-down"></i></a>
                </div>
                <% } else { %>
                    <div class="user-cart">
                        <a href="/users/login"><i class="fa-solid fa-user"></i></a>
                    </div>
                    <%}%>

        </div>
        <div class="burger-menu">
            <div>
                <i class="fa fa-bars burger"></i>
            </div>
        </div>
        <form action="#">
            <input type="search" placeholder="Buscar productos, marcas y más">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <nav>
        <ul>
            <% if(locals.usuario.rol==0){ %>

                <li><a href="/products">Listas de productos</a></li>
                <li><a href="/products/create">Crear Producto</a></li>

                <% } %>
        </ul>
        <ul>
            <li>
                <a href="/"></a>
            </li>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas</a></li>
            <li><a href="">Quienes Somos</a></li>
        </ul>
    </nav>
</header>