<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title:"Eliminar Producto", namePage:"login"}) %>

  <body>
    <a href="/">Volver</a>
    <main class="formularioEliminar">
    <h3>Está seguro que desea eliminar el producto: <%= producto.name %>?</h3>
    <form action="/listaproductos/eliminar/<%= producto.id %>?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="<%= producto.id %>" />
        <input class="boton-eliminar" type="submit" value="Si, eliminar" />
    </form>
  </main>
    </body>
    </html>