<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title:"Detalle del Producto", namePage:"productDetail"}) %>

<body>
    <%- include('../partials/header') %>

    <main>
        <section class="product">
            <div class="product-header">
                <h5># vendidos</h5>
                <h2>Nombre del producto</h2>
            </div>
            <div class="product-main">
                <div class="product-images">
                    <div class="image-sequence">
                        <h6>1/4</h6>
                        <div class="column-images">
                            <img src="./image/boceto.png" alt="" srcset="">
                            <img src="./image/boceto.png" alt="" srcset="">
                            <img src="./image/boceto.png" alt="" srcset="">
                            <img src="./image/boceto.png" alt="" srcset="">
                        </div>
                    </div>
                    <div class="product-collage">
                        <i class="fa-solid fa-chevron-left left-arrow"></i>
                        <img src="./image/diadema.png" alt="">
                        <i class="fa-solid fa-chevron-right right-arrow"></i>
                    </div>
                </div>
                <div class="product-specification">
                    <div class="product-price-discount">
                        <strong class="product-price">$xxxx</strong>
                        <strong class="product-discount">xxx% OFF</strong>
                    </div>
                    <div class="payment-methods-header">
                        <h3>Medios de pago</h3>
                    </div>
                    <div class="payment-methods-main">
                        <div class="payment-methods-icons">
                            <img src="./image/mastercad.png" alt="">
                            <img src="./image/visa.png" alt="">
                        </div>
                        <div class="payment-methods-icons">
                            <img src="./image/logoefecty.png" alt="">
                        </div>
                    </div>
                    <div class="product-delivery">
                        <p> <i class="fas fa-truck"></i>llega entre xxxxxx</p>
                    </div>
                    <div class="product-return">
                        <p> <i class="fa-solid fa-arrow-rotate-left"></i>Devolucion Gratis</p>
                    </div>
                    <div class="product-colors">
                        <div class="product-colors-header">
                            <h5>Color: <strong>xxxxx</strong></h5>
                        </div>
                        <div class="product-colors-main">
                            <img src="./image/boceto.png" alt="" srcset="">
                            <img src="./image/boceto.png" alt="" srcset="">
                        </div>
                    </div>
                    <div class="product-quantity">
                        <div class="product-quantity-header">
                            <h3>Stock disponible</h3>
                        </div>
                        <form action="">
                            <div class="container-product-available">
                                <h6>(20) disponibles</h6>
                            </div>
                            <div class="container-product-quantity">
                                <label for="quantity">Cantidad:</label>
                                <input type="number" name="product-quantity" id="quantity" value="1">
                            </div>
                            <div class="btn-boy-add">
                                <button class="btn-buy">Comprar ahora</button>
                                <button class="btn-add">Agregar al carrito</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="characteristics">
            <div class="characteristics-header">
                <h2>Características del producto</h2>
            </div>
            <div class="characteristics-main">
                <article class="characteristic">
                    <div class="characteristic-header">
                        <h3>Características generales</h3>
                    </div>
                    <table class="characteristic-main">

                        <tr class="characteristic-active">

                            <td><strong>Marca</strong></td>
                            <td>xxxxx</td>

                        </tr>

                        <tr>

                            <td><strong>Línea</strong></td>
                            <td>xxxxx</td>

                        </tr>
                        <tr class="characteristic-active">

                            <td><strong>Modelo</strong></td>
                            <td>xxxxx</td>

                        </tr>

                    </table>
                </article>
                <article class="characteristic">
                    <div class="characteristic-header">
                        <h3>Especificaciones</h3>
                    </div>
                    <div class="characteristic-main">
                        <table class="characteristic-main">

                            <tr class="characteristic-active">

                                <td><strong>Titulo</strong></td>
                                <td>xxxxx</td>

                            </tr>

                            <tr>

                                <td><strong>Titulo</strong></td>
                                <td>xxxxx</td>

                            </tr>
                            <tr class="characteristic-active">

                                <td><strong>Titulo</strong></td>
                                <td>xxxxx</td>

                            </tr>

                        </table>
                    </div>
                </article>

                <article class="characteristic">
                    <div class="characteristic-header">
                        <h3>otros</h3>
                    </div>
                    <div class="characteristic-main">
                        <table class="characteristic-main">

                            <tr class="characteristic-active">

                                <td><strong>Titulo</strong></td>
                                <td>xxxxx</td>

                            </tr>

                            <tr>

                                <td><strong>Titulo</strong></td>
                                <td>xxxxx</td>

                            </tr>
                            <tr class="characteristic-active">

                                <td><strong>Titulo</strong></td>
                                <td>xxxxx</td>

                            </tr>

                        </table>
                    </div>
                </article>
                <article class="characteristic">
                    <div class="characteristic-header">
                        <h3>otros</h3>
                    </div>
                    <div class="characteristic-main">
                        <table class="characteristic-main">

                            <tr class="characteristic-active">

                                <td><strong>Titulo</strong></td>
                                <td>xxxxx</td>

                            </tr>

                            <tr>

                                <td><strong>Titulo</strong></td>
                                <td>xxxxx</td>

                            </tr>
                            <tr class="characteristic-active">

                                <td><strong>Titulo</strong></td>
                                <td>xxxxx</td>

                            </tr>

                        </table>
                    </div>
                </article>

            </div>
        </section>
        <section class="warranty">
            <div class="warranty-header">
                <h3>Garantia</h3>
            </div>
            <div class="warranty-main">
                <h4>Compra Protegida</h4>
                <p>Recibe el producto que esperabas o te devolvemos tu dinero</p>
                <p>Garantía del vendedor: xxxxx días</p>
            </div>
        </section>
        <section class="payment-methods">
            <div class="payment-methods-header">
                <h3>Medios de pago</h3>
            </div>
            <div class="payment-methods-main">
                <h4>Tarjetas</h4>
                <div class="payment-methods-icons">
                    <img src="./image/mastercad.png" alt="">
                    <img src="./image/visa.png" alt="">
                </div>
                <h4>Puntos de pago</h4>
                <div class="payment-methods-icons">
                    <img src="./image/logoefecty.png" alt="">
                </div>
            </div>
        </section>
        <section class="specifications">
            <div class="specifications-header">
                <h3>Especificaciones</h3>
            </div>
            <div class="specifications-main">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem maiores non ad minus. Odio voluptate dignissimos exercitationem voluptatem amet assumenda, quae cupiditate excepturi. Saepe eius qui molestias? Dicta, nostrum!</p>
            </div>
        </section>
        <section class="questions-answers">
            <div class="questions-answers-header">
                <h3>Preguntas y respuestas</h3>
                <div class="questions-answers-fast">
                    <div class="questions-answers-fast-header">
                        <h4>Respuestas Rapidas</h4>
                    </div>
                    <div class="questions-answers-fast-main">
                        <button>
                            Costo y tiempo de envio
                        </button>
                        <button>
                            Devolución
                        </button>
                        <button>
                            Medios de Pago
                        </button>
                        <button>
                            Garantía
                        </button>
                    </div>
                </div>
            </div>
            <div class="questions-answers-main">
                <form action="#">
                    <input type="text" placeholder="Buscar productos, marcas y más">
                    <button>Preguntar</button>
                </form>
                <h4>Preguntas realizadas</h4>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, recusandae numquam tempora eos maxime, tenetur fugit fugiat veritatis velit nesciunt id et dolores dolorem, dolor officia quasi animi? Alias, culpa?
            </div>
        </section>
        <section class="product-similar">
            <div class="product-similar-header">
                <h3>Producto similares</h3>
            </div>
            <div class="product-similar-main">
                <article class="product">
                    <div class="product-header">
                        <img src="./image/diadema.png" alt="" srcset="">
                    </div>
                    <div class="product-main">
                        <i class="fas fa-truck"></i>
                        <div class="product-price-discount">
                            <strong class="product-price">$xxxx</strong>
                            <strong class="product-discount">xxx% OFF</strong>
                        </div>
                        <h4>Nombre del producto</h4>
                    </div>
                </article>
                <article class="product">
                    <div class="product-header">
                        <img src="./image/diadema.png" alt="" srcset="">
                    </div>
                    <div class="product-main">
                        <i class="fas fa-truck"></i>
                        <div class="product-price-discount">
                            <strong class="product-price">$xxxx</strong>
                            <strong class="product-discount">xxx% OFF</strong>
                        </div>
                        <h4>Nombre del producto</h4>
                    </div>
                </article>
                <article class="product">
                    <div class="product-header">
                        <img src="./image/diadema.png" alt="" srcset="">
                    </div>
                    <div class="product-main">
                        <i class="fas fa-truck"></i>
                        <div class="product-price-discount">
                            <strong class="product-price">$xxxx</strong>
                            <strong class="product-discount">xxx% OFF</strong>
                        </div>
                        <h4>Nombre del producto</h4>
                    </div>
                </article>
                <article class="product">
                    <div class="product-header">
                        <img src="./image/diadema.png" alt="" srcset="">
                    </div>
                    <div class="product-main">
                        <i class="fas fa-truck"></i>
                        <div class="product-price-discount">
                            <strong class="product-price">$xxxx</strong>
                            <strong class="product-discount">xxx% OFF</strong>
                        </div>
                        <h4>Nombre del producto</h4>
                    </div>
                </article>
            </div>
        </section>

    </main>

    <%- include('../partials/footer') %>

</body>


</html>